@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap')

*,*:before,*:after
    box-sizing: border-box
    font-family: 'Roboto', 'Microsoft JhengHei',sans-serif

.container
    max-width: 1200px
    margin: 0 auto
h1
    font-size: 80px
    padding-top: 47px
.lineBold
    border-top: solid 2px #000000
    margin-top: 17px
.line
    border-top: solid 1px #000000
    margin-top: 15px
.lineWhite
    border-top: solid 1px #ffffff
    margin-top: 15px
.photo
    padding-top: 48px
    width: 324px
.box
    padding-top: 58px
    padding-bottom: 42px
    .titleTW,.titleEN
        display: inline-block
    .titleTW
        font-size: 32px
        padding-right: 16px
    .titleEN
        color: #A00404
        font-size: 24px
    p
        font-size: 24px
        line-height: 32px
        padding-top: 16px
    ol
        margin: 16px 0 72px 0
        border-left: solid 1px #96A9C4
        padding-left: 20px
        li
            font-size: 24px
            padding: 12px 0
            span
                font-size: 20px
            &:first-child
                padding-top: 0px
            &:last-child
                padding-bottom: 0px
.skill
    background-color: #415165
    .containerSmaller
        max-width: 996px
        margin: 0 auto
        text-align: center
    .titleTW,.titleEN
        display: inline-block
        color: #ffffff
        padding-top: 24px
    .titleTW
        font-size: 32px
        padding-right: 16px
    .titleEN
        font-size: 24px
    ul
        text-align: left
        width: 220px
        display: inline-block
        border-left: solid 1px #96A9C4
        padding-left: 20px
        margin: 40px 0
        li
            color: #ffffff
            font-size: 24px
            padding: 10px 0
            &:first-child
                padding-top: 0px
            &:last-child
                padding-bottom: 0px
.contant
    background-color: #415165
    text-align: center
    .titleTW,.titleEN
        display: inline-block
        color: #ffffff
        padding-top: 24px
    .titleTW
        font-size: 32px
        padding-right: 16px
    .titleEN
        font-size: 24px
    ol
        color: #ffffff
        margin: 16px 0
        li
            font-size: 24px
            font-weight: 300
            padding-top: 16px
.socialIcon
    img
        padding: 12px
