@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------------
 * General Settings
 * --------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", "Microsoft JhengHei", sans-serif;
}

.container {
  max-width: 940px;
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
}

/*--------------------------------------------------------
 * Dessert Shop
 * --------------------------------------------------------*/
.menu {
  width: 300px;
  text-align: center;
  margin-right: 20px;
}
.menu ul {
  font-size: 24px;
  font-weight: 500;
  color: #3F5D45;
  border: solid 1px #EAF0ED;
}
.menu ul li {
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px #EAF0ED;
  cursor: pointer;
}
.menu ul li:first-child {
  border-top: none;
}
.menu ul .title {
  background-color: #3F5D45;
  color: #ffffff;
}
.menu ul .active {
  background-color: #EAF0ED;
}

.dessert {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 640px;
}
.dessert .dessertWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dessert .dessertCard {
  margin-bottom: 20px;
}
.dessert .dessertCard .wrap {
  width: 300px;
  height: 315px;
  position: relative;
  overflow: hidden;
}
.dessert .dessertCard .wrap .photo {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.dessert .dessertCard .wrap .today {
  position: absolute;
  writing-mode: vertical-rl;
  top: 0;
  left: 20px;
  background-color: #3F5D45;
  font-size: 16px;
  color: #ffffff;
  padding: 10px;
  letter-spacing: 8px;
}
.dessert .dessertCard .wrap .heart {
  position: absolute;
  width: 20px;
  top: 19px;
  right: 20px;
}
.dessert .dessertCard .info {
  display: flex;
  height: 56px;
  font-size: 20px;
  color: #3F5D45;
  border-left: solid 1px #EAF0ED;
  border-right: solid 1px #EAF0ED;
}
.dessert .dessertCard .info .dessertName {
  padding: 0 33px;
  font-weight: 300;
  display: flex;
  align-items: center;
  border-right: solid 1px #EAF0ED;
}
.dessert .dessertCard .info .price {
  font-weight: 500;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dessert .dessertCard .add {
  background-color: #EAF0ED;
  color: #3F5D45;
  font-size: 24px;
  font-weight: 500;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dessert .dessertCard:hover {
  cursor: pointer;
}
.dessert .dessertCard:hover .photo {
  position: absolute;
  width: 130%;
  transition: 3s;
}
.dessert .pageWrap {
  border: solid 1px #EAF0ED;
  margin: 30px 0 50px 0;
}
.dessert .pageWrap ul {
  display: flex;
}
.dessert .pageWrap ul li {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px #EAF0ED;
  font-size: 20px;
  color: #3F5D45;
  font-weight: 300;
}
.dessert .pageWrap ul li:last-child {
  border-right: none;
}
.dessert .pageWrap ul .active {
  background-color: #3F5D45;
  color: #ffffff;
}
