@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", "Microsoft JhengHei", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  padding-top: 47px;
}

.lineBold {
  border-top: solid 2px #000000;
  margin-top: 17px;
}

.line {
  border-top: solid 1px #000000;
  margin-top: 15px;
}

.lineWhite {
  border-top: solid 1px #ffffff;
  margin-top: 15px;
}

.photo {
  padding-top: 48px;
  width: 324px;
}

.box {
  padding-top: 58px;
  padding-bottom: 42px;
}
.box .titleTW, .box .titleEN {
  display: inline-block;
}
.box .titleTW {
  font-size: 32px;
  padding-right: 16px;
}
.box .titleEN {
  color: #A00404;
  font-size: 24px;
}
.box p {
  font-size: 24px;
  line-height: 32px;
  padding-top: 16px;
}
.box ol {
  margin: 16px 0 72px 0;
  border-left: solid 1px #96A9C4;
  padding-left: 20px;
}
.box ol li {
  font-size: 24px;
  padding: 12px 0;
}
.box ol li span {
  font-size: 20px;
}
.box ol li:first-child {
  padding-top: 0px;
}
.box ol li:last-child {
  padding-bottom: 0px;
}

.skill {
  background-color: #415165;
}
.skill .containerSmaller {
  max-width: 996px;
  margin: 0 auto;
  text-align: center;
}
.skill .titleTW, .skill .titleEN {
  display: inline-block;
  color: #ffffff;
  padding-top: 24px;
}
.skill .titleTW {
  font-size: 32px;
  padding-right: 16px;
}
.skill .titleEN {
  font-size: 24px;
}
.skill ul {
  text-align: left;
  width: 220px;
  display: inline-block;
  border-left: solid 1px #96A9C4;
  padding-left: 20px;
  margin: 40px 0;
}
.skill ul li {
  color: #ffffff;
  font-size: 24px;
  padding: 10px 0;
}
.skill ul li:first-child {
  padding-top: 0px;
}
.skill ul li:last-child {
  padding-bottom: 0px;
}

.contant {
  background-color: #415165;
  text-align: center;
}
.contant .titleTW, .contant .titleEN {
  display: inline-block;
  color: #ffffff;
  padding-top: 24px;
}
.contant .titleTW {
  font-size: 32px;
  padding-right: 16px;
}
.contant .titleEN {
  font-size: 24px;
}
.contant ol {
  color: #ffffff;
  margin: 16px 0;
}
.contant ol li {
  font-size: 24px;
  font-weight: 300;
  padding-top: 16px;
}

.socialIcon img {
  padding: 12px;
}
