@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------------
 * General Settings
 * --------------------------------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
  font-family: "Roboto", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--------------------------------------------------------
 * Header
 * --------------------------------------------------------*/
.header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.header .logo a {
  display: block;
  text-indent: -9999px;
  background: url("http://placekitten.com/250/250") no-repeat;
  width: 250px;
  height: 250px;
}
.header .menu {
  display: flex;
}
.header .menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  background-color: #3399FF;
  font-weight: bold;
}
.header .menu a:hover {
  background-color: orange;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .header .logo a {
    background: url("http://placekitten.com/150/150") no-repeat;
    width: 150px;
    height: 150px;
    margin-bottom: 24px;
  }
  .header .menu {
    display: flex;
    flex-wrap: wrap;
  }
  .header .menu li {
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
  }
}

/*--------------------------------------------------------
 * Main
 * --------------------------------------------------------*/
.main {
  display: flex;
  justify-content: space-between;
}
.main .content {
  width: 75%;
  border: solid 2px #000000;
  padding: 10px;
}
.main .content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1.2;
}
.main .content p {
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 1.5;
  text-align: justify;
}
.main .sidebar {
  width: 20%;
  border: solid 2px #000000;
  padding: 5px;
}
.main .sidebar img {
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .main .content {
    width: 100%;
  }
  .main .sidebar {
    width: 100%;
  }
}

/*--------------------------------------------------------
 * Footer
 * --------------------------------------------------------*/
.footer {
  text-align: center;
  padding: 8px 0;
}
